ImageColorization/data/*
ImageColorization/training/source_images_coco/*
ImageColorization/training/target_images_coco/*
ImageColorization/training/summary_writers/*
ImageColorization/training/state_dicts/*
.ipynb_checkpoints
checkpoint
